<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        <div class="container">
            {{ partial "header.html" . }}

            <div class="title">
                <h1>{{ .Title }}</h1>
                <div class="meta">
                    {{ dateFormat "2006-01-02 15:04" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }} - {{ .ReadingTime }} min read
                </div>
            </div>

            <div class="blog-post">
                <nav class="tags">
                    {{ if ne .Type "page" }}
                        {{ if gt .Params.tags 0 }}
                            <ul>
                                {{ range .Params.tags }}
                                    <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                                {{ end }}
                            </ul>
                        {{ end }}
                    {{ end }}
                </nav>

                <div class="markdown">
                    {{ .Content }}
                </div>
            </div>

            {{ if or (.PrevInSection) (.NextInSection) }}
                <ul class="prev-next">
                    <li class="prev">
                        {{ if .PrevInSection }}
                            <a href="{{ .PrevInSection.Permalink }}" class="page-link" aria-label="Previous"><span aria-hidden="true">←&nbsp;</span></a>
                        {{ end }}
                    </li>
                    <li class="prev">
                        {{ if .PrevInSection }}
                            <a href="{{ .PrevInSection.Permalink }}" class="page-link" aria-label="Previous"><span aria-hidden="true">{{ .PrevInSection.Title}} </span></a>
                        {{ end }}
                    </li>
                    <li class="next">
                        {{ if .NextInSection }}
                            <a href="{{ .NextInSection.Permalink }}" class="page-link" aria-label="Next"><span aria-hidden="true">{{ .NextInSection.Title}}</span></a>
                        {{ end }}
                    </li>
                    <li class="next">
                        {{ if .NextInSection }}
                            <a href="{{ .NextInSection.Permalink }}" class="page-link" aria-label="Next"><span aria-hidden="true">&nbsp;→</span></a>
                        {{ end }}
                    </li>
                </ul>
            {{ end }}

            <!-- Check if disqus short name is given -->
            {{ if .Site.DisqusShortname }}
                {{ partial "disqus.html" . }}
            {{ end }}

            {{ partial "footer.html" . }}
        </div>
    </body>
</html>
