<div class="header">
    <table class="site-title">
        <tr>
            <td>
                <h1>{{ .Site.Title }}</h1>
                {{ if isset .Site.Params "subtitle" }}
                    <h2>{{ .Site.Params.Subtitle | markdownify }}</h1>
                {{ end }}
            </td>
            <td>
                <nav class="social">
                    <div class="icon" id="dark-mode-moon"><a><i data-feather="moon"></i></a></div>
                    <div class="icon" id="dark-mode-sun"><a><i data-feather="sun"></i></a></div>
                    {{ range $index, $key := .Site.Params.Social }}
                        <div class="icon"><a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a></div>
                    {{ end }}
                </nav>
            </td>
        </tr>
    </table>
    <nav class="site-menu">
        <ul>
            {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}
        </ul>
    </nav>
</div>
