<div class="header">
    <table class="site-title">
        <tr>
            <td>
                <h1>{{ .Site.Title }}</h1>
                {{ if isset .Site.Params "subtitle" }}
                    <h2><a href="{{ .Site.BaseURL }}">{{ .Site.Params.Subtitle | markdownify }}</a></h2>
                {{ end }}
            </td>
            <td>
                <nav class="social">
                    {{ range $index, $key := .Site.Params.Social }}
                        <div class="icon"><a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a></div>
                    {{ end }}
                </nav>
            </td>
        </tr>
    </table>
    <nav class="site-menu">
        {{ range .Site.Menus.main }}
            <div class="menu">
                <a href="{{ .URL }}">{{ .Name }}</a>
            </div>
        {{ end }}
        <div class="icon" id="dark-mode-moon"><a><i data-feather="moon"></i></a></div>
        <div class="icon" id="dark-mode-sun"><a><i data-feather="sun"></i></a></div>
    </nav>
</div>
