<div class="header">
    <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    <div class="site-description">
        {{- if isset .Site.Params "subtitle" -}}
        <h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
        {{- end -}}
        <nav class="social">
            {{- range $index, $key := .Site.Params.Social -}}
                <div class="icon"><a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a></div>
            {{- end -}}
            <div class="icon" id="dark-mode-moon"><a><i data-feather="moon"></i></a></div>
            <div class="icon" id="dark-mode-sun"><a><i data-feather="sun"></i></a></div>
        </nav>
    </div>

    <nav class="site-menu">
        <ul>
            {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}
        </ul>
    </nav>
</div>
