{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
    <ul class="pagination">
        <li class="page-prev">
            {{ if $pag.HasPrev }}
                <a href="{{ $pag.Prev.URL }}" class="page-link" aria-label="Previous"><span aria-hidden="true">&lt;&lt; Prev page</span></a>
            {{ end }}
        </li>
        <li class="page-next">
            {{ if $pag.HasNext }}
                <a href="{{ $pag.Next.URL }}" class="page-link" aria-label="Next"><span aria-hidden="true">Next page &gt;&gt;</span></a>
            {{ end }}
        </li>
    </ul>
{{ end }}
