<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        <div class="container">
            {{ partial "header.html" . }}

            <div class="title">
                <h1>Home</h1>
            </div>

            <div class="markdown">
                {{ .Content }}
            </div>

            <hr />
            <h1>Recent blog posts</h1>
            <div class="recent-blog-posts">
                {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
                {{ range first 6 $pages }}
                    <div class="recent-blog-post">
                        <a class="title" href="{{ .RelPermalink }}"><h2>{{.Title}}</h2></a>
                        <div class="meta">{{ dateFormat "2006-01-02 15:04" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }} - {{ .ReadingTime }} min read</div>
                        <div class="description">
                            {{ if isset .Params "description" }}
                                {{ .Description }}
                            {{ else if gt (len .RawContent) 120 }}
                                {{ slicestr .RawContent 0 120 }}...
                            {{ else }}
                                {{ .RawContent }}
                            {{ end }}
                        </div>

                        <nav class="tags">
                            {{ if ne .Type "page" }}
                                {{ if gt .Params.tags 0 }}
                                    <ul>
                                        {{ range .Params.tags }}
                                            <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                                        {{ end }}
                                    </ul>
                                {{ end }}
                            {{ end }}
                        </nav>
                    </div>
                {{ end }}
            </div>

            {{ partial "footer.html" . }}
        </div>
    </body>
</html>
